<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"><div id="frameoR123U" class=" frame move-span cl frame-1"><div class="title frame-title"><span class="titletext">热点新闻</span></div><div id="frameoR123U_left" class="column frame-1-c"><div id="frameoR123U_left_temp" class="move-span temp"></div><!--{block/13}--></div></div><div id="frame5y4oz3" class="cl_frame_bm frame move-span cl frame-3-1"><div class="title frame-title"><span class="titletext">热点人物</span></div><div id="frame5y4oz3_left" class="column frame-3-1-l"><div id="frame5y4oz3_left_temp" class="move-span temp"></div></div><div id="frame5y4oz3_center" class="column frame-3-1-r"><div id="frame5y4oz3_center_temp" class="move-span temp"></div></div></div></div><!--[/diy]-->
</div>

<!--{template common/footer}-->
