/** forum::index **/
#chart { height: 40px; line-height: 40px; margin-bottom:0;}
#an li { width:400px;}
#an li span { width:325px;}
.fl { border:none;}
.fl .bm { margin-top:20px;}
.fl .bm_h {background:none;font-size: 20px;font-family: 'Microsoft YaHei';font-weight: normal;height: 30px;line-height: 30px;padding:0px 0 10px 0; border:none;border-bottom: 1px dotted #DEDEDE; margin-bottom:10px;}
.fl .bm_h h1 { font-weight:normal;}
.fl .bm_c { padding:0;}
.fl_g dt { height:30px; line-height:30px; font-size:16px; font-family:'Microsoft YaHei';font-weight: normal;}
.fl_g dl dd { margin-bottom:5px;}
.fl_row td { border: none;}
.fl_tb td, .fl_tb tr { padding:10px; -moz-transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s;}
.fl_tb h2 { font-size:16px;}
.flg_b1 { background: #F9F9F9}
.flg_b2 { background: #F1F1F1}
.fl_tb .flg_b1:hover, .fl_tb .flg_b2:hover { background: #FFFFFF}
.bmw .bm_h a { color: #111111}
/*N格重定义*/
.bbs_top { height: 270px}
.bbs_index_thum { width: 450px}
.frame-1-1 { position: relative}
.frame-1-1-l { width: 450px; position: absolute; top: 0; left: 0; float: none}
.frame-1-1-r { margin-left: 465px; width: auto; float: none}
.frame-title, .frametitle, .tab-title { background: none}
.frame-tab .tb { line-height:normal; padding-left:0; height:31px;}
.frame-tab .tb li a { font-weight:normal; font-size:12px; height:31px; line-height:31px; border:none; background: #EEEEEE}
.frame-tab .tb .a a { font-weight:normal;  background: #0D86CC; color: #FFFFFF}
.frame-tab .tb-c { padding: 10px 0}
/** end **/

/** forum::forumdisplay **/
#threadlist .bm_c .s_th { width: 100%}
#threadlist { border: 1px solid #EEEEEE}
.tl th, .tl td { padding: 8px 0}
.tl .by { text-align: right; padding-right: 10px}
.tl .num { text-align:center; background:{SPECIALBG}}
.tl .icn { width:46px; padding: 0 8px; background:{SPECIALBG}}
.tl .icn img { width:35px; padding:1px; background: #FFFFFF; border-radius:5px; border:1px solid {SPECIALBORDER}}
.tl #separatorline th, .tl #separatorline td { padding:0}
th.s_th { padding-left:10px}
th.s_th .xst { font-family:'microsoft yahei'}
th.s_th cite { color:#999; font-size:11px} 
th.s_th cite a { color:#999; font-size:11px}
.ajax-all { line-height:22px; font-size:12px; position:relative; min-height: 95px}
.ajax-all .ajax-img { position:absolute; left:0; top:5px; text-align:center; width:48px; line-height:16px}
.ajax-all .ajax-img img { border-radius:5px; border:1px solid #eee; padding:1px}
.ajax-all .ajax-message { margin-left:62px; padding-left:10px; border-left:1px dotted #eee;}
.ajax-all .ajax-message-body { min-height:43px;}
.ajax-all .ajax-dateline { color:#999; margin-top:10px;}
.qtip-title { height:20px; line-height:20px; overflow:hidden;}

h1.xs2 { font-size:20px !important;}
.boardnav .mn .bml { background-color: {SPECIALBG}; padding:0 10px; border-left: 5px solid {SPECIALBORDER};}
#f_pst .bm_c { padding:10px 0;}
#f_pst { margin-top:20px;}/
/* 大分页按钮 */
.pgbtn { margin: 5px 0 10px; }
.pgbtn a { display: block; height: 40px; line-height: 40px; letter-spacing: 5px; text-align: center; border: 1px solid #DCDCDC; background: #F5F5F5 url({STYLEIMGDIR}/bg_pgbtn.png) repeat-x 0 0; font-size: 14px; outline: none; border-radius: 5px; box-shadow: 0 1px 0 #F5F5F5; }
.pgbtn a:hover { border-color: #BABABA; text-decoration: none; }
.pgbtn a:active { background: #EEE; border-color: #D0D0D0; box-shadow: none; }
/* 瀑布流布局 */
.waterfall { position: relative; margin-top: 15px; }
	.waterfall li { margin: 0 10px 10px 0; padding: 0 0 3px; text-align: left; border-width: 1px 0 0; border-top: 1px solid #EAEAEA; background: url({STYLEIMGDIR}/bg_waterfall.png) no-repeat 100% 100%; }
	.waterfall .c, .waterfall h3 { padding: 10px; border: solid #EAEAEA; border-width: 0 1px; background-color: #F8F8F8; }
		.waterfall .c { overflow: hidden; padding-bottom: 0; max-height: 800px; }
		.waterfall .c .nopic { display: block; background:{WRAPBG} url({IMGDIR}/nophototiny.png) no-repeat 50% 50%; cursor: pointer; }
	.waterfall .auth { padding: 0 10px 10px; border-width: 0 1px 1px; border-style: solid; border-color: transparent #EAEAEA #B9B9B9; background: #F8F8F8; }
		.waterfall .auth img { display: inline-block; margin: 0 1px; }
/** end **/




/** forum::index,forum::forumdisplay,home::space,forum::guide **/
.tl th, .tl td { background:#FFF; border-bottom-color:#e6e6e6;  -moz-transition: all 0.3s ease 0s; -webkit-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s;}
.tl .th th, .tl .th td { background: #F2F2F2}
.bm_c { padding:10px 0;}
/** end **/





/** forum::post **/
#e_menus .p_pop a{ padding:5px 12px;}
/** end **/




/** forum::viewthread,forum::forumdisplay,forum::post,forum::guide,group **/
#newspecial_menu a { padding:10px 0 10px 30px;}
#newspecial_menu li:hover { background-color:#F3F3F3;}
#newspecial_menu a:hover { text-decoration:none;}
#f_pst .plc { padding:0 20px;}
#f_pst .tedt { margin-top:0 !important; border-color: #DEDEDE;}
#visitedforums_menu a { height:auto; width:100%; padding:10px;}
#v_threads li, #v_forums li { padding-left:0; background:none; height:auto;}
/** end **/





/** portal::index**/
/** end **/




/** portal::list, portal::index, portal::view**/
#slider { width: 320px; height: 250px; position: relative; }
#slider ul { list-style-type: none; width:320px; height:250px; }
#slider ul li { position: absolute; left: 0; top: 0; width:320px; height:250px; }
.pg { float: left;}
.pg a, .pgb a, .pg label, .pg strong { margin-right:5px; margin-left:0;}
.ds-avatar { margin-top:5px;}
.ds-meta { height:24px; line-height:24px; width:222px; float:right;}
.sidebar ul#ds-recent-comments li.ds-comment .ds-thread-title { line-height:22px; margin-bottom:20px;}
.sidebar ul#ds-recent-comments li.ds-comment { border-top: 1px dotted gainsboro;}
.sidebar ul#ds-recent-comments li.ds-comment { margin: 15px 0 0 !important;}
.sidebar ul#ds-recent-comments li.ds-comment .ds-avatar { top: 10px !important;}
.sidebar ul#ds-recent-comments li.ds-comment .ds-avatar img{ width:32px; height:32px;}
.ds-excerpt { text-indent: 23px; background: url({STYLEIMGDIR}/quote.png) no-repeat 0px -1px;}
.socialwrap a{ display:block; width:86px; height:87px; float:left;}
/** end **/




/** portal::list, portal::index, portal::view**/
#isofeatured { height:504px !important;}
/** end **/




/** portal::view **/
.bm {margin-top: 5px;}
.vw .h {padding-bottom: 0px;}
#nv_portal .vw .h, #nv_portal .vw .s, #nv_portal .vw .d, #nv_portal .vw .o, #nv_forum .vw .h, #nv_forum .vw .s, #nv_forum .vw .d {margin-right: 0;margin-left: 0}
#wp .maincontent { border-top:none; margin-top:0}
#wp .sidebar { margin-top:5px}
.vw .h { border:none; text-align:left}
.vw .ph { font-size: 28px; padding-bottom: 0}
.vw .s { color: #0D86CC; float:right; width:50%; margin:0; border:none; padding:0; text-indent:25px; background: url({STYLEIMGDIR}/quote.png) no-repeat 0 3px}
.ie6 .vw .s { width: 45%}
.pbm a { margin-right:5px}
.featuredimage { margin-bottom: 25px;min-height: 50px;background: url(../img/loading.gif) center no-repeat;}
#wp .blogpost .bubble.comments { margin-top:0;}
.leftblogcontent { float: left; margin-right: 5%; width: 45%; }
.single .sidebar { margin-top: -8px; padding-top: 35px; }
.categories { padding-bottom: 15px; }
.blogpost .categories { margin-top: 7px; padding-bottom: 0; float: left; }
.blogpost .bubble.comments { float: right; margin-top: 7px; display: block; top: 0; bottom: auto; }
.blogpost .details { margin-bottom: 18px; padding: 15px; background: #F2F2F2; }
ul.authorinfo { float: left; margin-bottom: 0; max-width: 200px; }
ul.authorinfo li { list-style-type: none; margin-left: 0; margin-bottom: 5px; }
.details img { float: left; margin-right: 15px; border-radius: 100px; -moz-border-radius: 100px; }
.blogpost .details .name { font-size: 15px; margin-bottom: 3px; padding-bottom: 3px; border-bottom: 1px solid #dcdcdc; }
#article_content p { margin-bottom:10px;}
#comment .bm_c { padding:0;}
#comment .tedt { width:auto; border:1px solid #E3E3E3;}
#comment .tedt .pt { height:100px;}
#comment .bm_h h3{ font-size:18px;}
/** end **/





/** portal::portalcp **/
.bml .bm_c { padding:0}
/** end **/




/** plugin **/
body.pg_win8mi_waterfall { background:none;}
.pg_win8mi_waterfall .bodycontainer .nav { margin:0 10px; }
.pg_win8mi_waterfall .bodycontainer .logo { margin-left:10px;}

.pg_win8mi_waterfall .bodycontainer .headerwidget { margin-right:10px;}
.pg_win8mi_waterfall .fixed-nav .nav { border-bottom:none; background:#eee;}
.pg_win8mi_waterfall .fixed-nav .nav li.cur a { background-color:#00A498;}
.pg_win8mi_waterfall .fixed-nav .nav li a:hover, .pg_win8mi_waterfall .fixed-nav .subnav li.spaces_cur a { background-color:#999;}
.pg_win8mi_waterfall #umnav_menu { margin-left:0;}
.pg_win8mi_waterfall a.plm_bg { transition:none;  -moz-transition: none; -webkit-transition: none; -o-transition: none;}
.pg_win8mi_waterfall .pg a:hover { background-color: transparent; color:#00A498;}
/** end **/


/** member **/
.bm_c { padding:0;}
/** end **/
